<!DOCTYPE html>
<html>
<!-- Modified from starter code provided in exploration from bsg_app-->
<head>
  <title>Affiliations</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Affiliations - Read Only Table</h1>
  {% extends "nav_bar.html" %}
  {% block content %}

  <!-- Browse Affiliations -->
  <div id="browse">
    <table border="1" cellPadding="5" class="center">
      {% if affiliation_data %}
        <thead>
          <tr>
            <!-- Iterate through each key in the first entry to get the column name -->
            {% for key in affiliation_data[0].keys() %} 
            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
            <!-- End of this for loop -->
            {% endfor %} 
          </tr>
        <tbody>
          <!-- Now, iterate through every item in data -->
          {% for item in affiliation_data %}
          <tr>
          <!-- Then iterate through every key in the current item dictionary -->
          {% for key in item.keys() %}
          <!-- Create a <td> element with the value of that key in it -->
          <td> {{item[key]}} </td> 
          {% endfor %}
          </tr> 
        {% endfor %} 
      {% endif %}
    </table>
  </div>
  {% endblock %}
</body>
</html>
