<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Delete Species</title>
        <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body> {% extends "nav_bar.html" %}
           {% block content %}
        <div id="delete_species" style="display: block">
            <form method="POST"
                  id="deleteSpecies"
                  action="/delete_species/{{species_data[0]['species_id']}}"
                  class="center">
                <legend><strong>Delete Species</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden"
                           name="species_id"
                           id="species_id"
                           value={{species_data[0].species_id}}>
                    <label><strong>ID: </strong>{{species_data[0].species_id}}</label>
                    <label> <strong>Species Classification: </strong>{{species_data[0].classification}}</label>
                    <label> <strong>Species Home Planet: </strong>{{species_data[0].planet_name}}</label>
                </fieldset>
                <input class="button-49small"
                       type="submit"
                       id="DeleteSpeciesButton"
                       value="Delete">
                <a href='/species'><input class="button-49small"
                                          type="button"
                                          value="Cancel"></a>
            </form>
        </div>
           {% endblock %}
    </body>
</html>