<!DOCTYPE html>
<html>
    <!-- Modified from starter code provided in exploration from bsg_app-->
    <head>
        <title>Delete Character Affiliation</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    </head>
  <body>    {% extends "nav_bar.html" %}
          {% block content %}
        <!-- Delete Character Affiliation -->
        <div id="delete">
            <form method="POST"
                  id="deleteCharacterAffiliation"
                  action="/delete_character_affiliation/{{character_data[0].character_id}}/{{character_data[0].affiliation_id}}"
                  class="center">
                <legend><strong>Delete Character Affiliation</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden"
                           name="CharacterID"
                           id="deleteCharacterID">
                    <label><strong>Character: {{character_data[0]['Character Name']}}</strong></label>
                    <label> <strong>Affiliation: {{character_data[0]['Affiliation Name']}}</strong></label>
                </fieldset>
                <input class="button-49"
                       type="submit"
                       name="DeleteCharacterAffiliationButton"
                       value=" Delete Character Affiliation"
                       style="width:350px">
                <a href='/character_affiliations'><input class="button-49"
                                                         type="button"
                                                         value="Cancel"></a>
            </form>
        </div>
           {% endblock %}
    </body>
</html>