<!-- Search Bar -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-
        scale=1">
    </head>
    <body>
        <h1>Search</h1>
        <form method="post" action="/search-planets"
              style="margin:auto;max-width:600px">
            <label>
                <input type="text" placeholder="Search by planet or
                 region" name="search_parameter">
            </label>
            <button type="button"><i class="fa fa-search"></i>
            </button>
        </form>
    </body>
</html>